body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.app-logo {
   padding-left: 50px;
}

.sidebar {
   display: flex;
   height: 100vh;
   float: left;
   overflow: 'scroll initial';
}

.side-container {
   padding-top: 30px;
}

.side-row {
   padding: 30px;
}

.react-bootstrap-table thead {
    position: sticky;
    top: 0;
    background-color: #333;
    z-index: 1021;
    color: white;
}


@media (max-width: 768px) {
   .carousel-img {
      height: 350px;
      object-fit: cover;
      object-position: center;
      margin-top: 20px;
   }
   .mobile-scroll {
    max-height: 70vh; 
    overflow-y: auto; 
    overflow-x: hidden; 
    padding-right: 10px; 
  }

  .mobile-scroll::-webkit-scrollbar {
    width: 6px;
  }
  .mobile-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    border-radius: 3px;
  }
}

